<mat-toolbar class="navbar nav bg-dark-subtle">
  <button class="btn" [routerLink]="['home']">
    Home
  </button>
  <button class="btn" [routerLink]="['login']">
    Login
  </button>

  <span class="spacer"></span>


  <select class="btn" #selectedLang (change)="switchLang(selectedLang.value)">
    <option *ngFor="let language of translate.getLangs()" [value]="language"
            [selected]="language === translate.currentLang">{{ language.toUpperCase() }}
    </option>
  </select>
</mat-toolbar>
